/* BOTON NORMAL PARA PERSONALIZAR */
.pago-enlace__enlace {
  background: var(--color-gradiente-enlace);
  padding: 10px 24px;
  font-size: 13px;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  font-family: var(--tipo-fuente);
  text-align: center;
  min-width: 130px;
}

.pago-enlace__enlace--eliminar {
  background: linear-gradient(135deg, #ff4444, #cc0000);
}