/* 
   Author: Jaider Andres Esparza Arenas con ayuda de Antigravity.
   Propósito: Estilos para la sección del logo y el nombre de la marca en el encabezado.
*/
/* SECCION LOGO DE LA PAGINA */
.seccion-logo{
    display: flex;
    flex-direction: row;
    align-items: var(--alinear-items);
    margin-top: var(--margen-arriba);
    margin-left: 10px;
}
.seccion-logo__logo{
    width: var(--ancho-logo);
}

.seccion-logo__nombre{
    font-weight: var(--grosor-fuente);
}