/* 
   Author: Jaider Andres Esparza Arenas con ayuda de Antigravity.
   Propósito: Estilos para el contenedor circular del icono en el formulario de recuperación de contraseña.
*/
/* =====================================================
   ICONO RECUPERAR CONTRASEÑA
   ===================================================== */
.contenedor-principal__logo-recuperar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margen-abajo);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color-fondo-recuperar);
    position: relative;
    top: 60px;
}

.contenedor-principal__imagen {
    width: 90px;
}