/* 
   Author: Jaider Andres Esparza Arenas con ayuda de Antigravity.
   Propósito: Estilos adicionales para el formulario de registro de nuevos usuarios.
*/
/* =====================================================
   ESTILOS DE REGISTRO
   ===================================================== */
.campo__ubicacion__icono {
    width: 25px;
    margin-top: 3px;
    margin-right: 5px;
}