/* 
   Author: Jaider Andres Esparza Arenas con ayuda de Antigravity.
   Propósito: Estilos para el formulario de establecimiento de nueva contraseña tras el proceso de recuperación.
*/
/* =====================================================
   ESTILOS NUEVA CONTRASEÑA
   ===================================================== */
.contenedor-principal__titulo {
    font-family: var(--tipo-fuente);
    color: var(--color-fuente);
    text-align: center;
    font-weight: var(--grosor-fuente);
    font-size: 30px;
}

.formulario-recuperar__icono-confirmar {
    width: 150px;
    margin-top: 20px;
}