/* 
   Author: Jaider Andres Esparza Arenas con ayuda de Antigravity.
   Propósito: Definición de la estructura de rejilla (Grid) principal para el diseño de la aplicación.
*/
.grid-principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
    padding-bottom: 75px;
}

.grid-principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}